# FastAPI and Gradio for web server and UI
gradio==4.29.0
uvicorn[standard]

# Forcing an older, stable pydantic version to resolve Gradio API conflict
pydantic<2.0

# Core ML and transcription libraries
torch
torchaudio
whisperx
pyannote.audio==3.1.1

# Other dependencies
pydub
ffmpeg-python
openai
python-dotenv
pandas
numpy
